.quizButton {
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.correctAnswer {
    background-color: green;
}

.incorrectAnswer {
    background-color: red;
}

body {
    background-color: #ffffff;
  }
  
  .card {
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
  }
  
  .btn-primary {
    background-color: #FFB347;
    border-color: #FFB347;
  }
  
  .btn-primary:hover {
    background-color: #FFA533;
    border-color: #FFA533;
  }
  
  .btn-secondary {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
  }
  
  .btn-secondary:hover {
    background-color: rgb(33, 102, 229);
    border-color: rgb(33, 102, 229);
  }

  .share-url-div {
    background-color: white;
    border-color:black;
    padding: 10px;
  }

  .close-share-url-div {
    text-decoration: underline;
  }

  .btn-main {
    background-color: #4a68fd;
    border-color: #4a68fd;
  }
  
  .btn-main:hover {
    background-color: #294cff;
    border-color: #294cff;
  }

#quiz-div {
  padding: 76px 20px 20px 20px;
}
