.quizButton {
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.correctAnswer {
    background-color: green;
}

.incorrectAnswer {
    background-color: red;
}

body {
    background-color: #F9C7B9;
  }
  
  .card {
    background-color: #FDEFEF;
  }
  
  .btn-primary {
    background-color: #FFB347;
    border-color: #FFB347;
  }
  
  .btn-primary:hover {
    background-color: #FFA533;
    border-color: #FFA533;
  }
  
  .btn-secondary {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
  }
  
  .btn-secondary:hover {
    background-color: rgb(33, 102, 229);
    border-color: rgb(33, 102, 229);
  }