.correctAnswer {
    box-shadow: inset 0 0 20px 0 #00ff00;

}

.incorrectAnswer {
    box-shadow: inset 0 0 20px 0 #ff0000;
}

body {
    background-color: #ffffff;
}

.card {
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-primary {
    background-color: #FFB347;
    border-color: #FFB347;
}

.btn-primary:hover {
    background-color: #FFA533;
    border-color: #FFA533;
}

.btn-secondary {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.btn-secondary:hover {
    background-color: rgb(33, 102, 229);
    border-color: rgb(33, 102, 229);
}

.share-url-div {
    background-color: white;
    border-color: black;
    padding: 10px;
}

.close-share-url-div {
    text-decoration: underline;
}

.btn-main {
    background-color: #4a68fd;
    border-color: #4a68fd;
}

.btn-main:hover {
    background-color: #294cff;
    border-color: #294cff;
}

#quiz-div {
    padding: 76px 20px 20px 20px;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

#loading-text {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
}

.nav__btn button {
    transition: background-color 0.2s ease-in-out;
}

.nav__btn button:hover {
    background-color: #afb4b4dd;
}

.nav__btn button:hover > {
    color: white;
}

.logout-btn {
    background-color: white;
    border: 1px solid white;
    transition: background-color 0.3s, border-color 0.3s;
}

.logout-btn:hover {
    background-color: #afb4b4dd;
    border: 1px solid #afb4b4dd;

}

.custom-btn {
background-color: #f2f2f2;
color: #212529;
transition: background-color 0.3s ease;
border: none;
}

.custom-btn:hover {
background-color: #c6c6c6;
}

.custom-btn:active {
animation: flash 10s;
}
  

.quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz-title {
    text-align: center;
}

.quiz-img {
    height: 400px;
    margin-bottom: 30px;
    object-fit: cover;
    margin: 30px 0;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
}

.quiz-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 800px;
}

.quiz-button {
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s;
    width: 100%;
}

.quiz-button.button1 {
    background-color: #f44336;
}

.quiz-button.button2 {
    background-color: #4caf50;
}

.quiz-button.button3 {
    background-color: #2196f3;
}

.quiz-button.button4 {
    background-color: #ffc107;
}

.quiz-button:hover {
    opacity: 0.8;
}

.learn-it{

    font-family: 'Raleway Dots',cursive;
    font-size: 5em;

}
